<button class="btn-help" (click)="open(content)">
	 <i class="bi bi-bar-chart"></i>
</button>
<ng-template #content let-modal>
	<!-- <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div> -->
	<div class="modal-body">
		<div class="d-flex justify-content-end text-white">
			<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
		</div>

		<div class="m-3 h5">
			Descubra as palavras certas. Depois de cada tentativa, as peças mostram o quão perto você está da solução.
		</div>

		<div>
			<ng-container *ngFor="let l of ['T','U','R','M','A']; let i = index;">
				<span [ngClass]="{'existePosCorreta border-0': i == 0}" class="letra">{{l}}</span>
			</ng-container>
		</div>

		<div class="m-3 h5">
			A letra <p class="existePosCorreta letra border-0">T</p> faz parte da palavra e está na posição correta.
		</div>

		<div>
			<ng-container *ngFor="let l of ['V','I','O','L','A']; let i = index;">
				<span [ngClass]="{'existePosErrada border-0': i == 2}" class="letra">{{l}}</span>
			</ng-container>
		</div>

		<div class="m-3 h5">
			A letra <p class="existePosErrada letra border-0">O</p> faz parte da palavra mas em outra posição.
		</div>

		<div>
			<ng-container *ngFor="let l of ['P','U','L','G','A']; let i = index;">
				<span [ngClass]="{'naoExiste border-0': i == 3}" class="letra">{{l}}</span>
			</ng-container>
		</div>

		<div class="m-3 h5">
			A letra <p class="naoExiste letra border-0">G</p> não faz parte da palavra.
		</div>

		<div class="m-3 h5">
			Os acentos são preenchidos automaticamente, e não são considerados nas dicas.
		</div>

		<div class="m-3 h5">
			As palavras podem possuir letras repetidas.
		</div>
	</div>
</ng-template>
